# my
ignore/ 
temporary/ 
TODO

# this
cards-backend/data/json/RealSets-x.json
cards-backend/data/json/RealSets-y.json
cards-backend/data/json/RIXSets-y.json

# Haskell
cabal.project.local
dist-newstyle/
dist/
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
ghcid.txt
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/

# ghcjs
js/
dist-ghcjs/

# nix
result
result/
*-result

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS
#  .projectile
#  .dir-locals.el

# OS X
.DS_Store
